* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    cursor: pointer;
}

.disable {
    display: none !important;
}



.list-terms__search {
    background-color: #EBEEF2;
    padding: 8px;
    border-bottom: 1px solid #C8C7CC;
    font-size: 16px;
}

.list-terms__search input {
    width: 100%;
    text-align: center;
    padding: 6px 0;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
}

.list-terms__elements {
    margin-bottom: 73px;
}

.list-terms__item {
    display: block;
    text-decoration: none;
}

.list-terms__item_wrapper {
    display: block;
    
    list-style: none;

}

.list-terms__item_wrapper ~ .list-terms__item_wrapper {
    border-top: 1px solid #C8C7CC;
}

.list-terms__item_wrapper_disable {
    display: none;
}


.list-terms__group:last-of-type {
    border-bottom: 1px solid #C8C7CC;
}

.list-terms__header-group {
    display: block;
    margin: 0;
    padding: 0.75em 1em;
    background-color: #F2F2F2;
    border-top: 1px solid #C8C7CC;
    border-bottom: 1px solid #C8C7CC;
    list-style: none;
}

.list-terms__header-group_disable {
    display: none;
}

.list-terms__header-group a {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #8E8E93;
}



.list-terms__item-title {
    padding-top: 0.75em;
    padding-left: 1em;
    font-size: 15px;
    line-height: 18px;
    color: #373737;
}

.list-terms__item-subtitle {
    padding-left: 1em;
    padding-bottom: 0.75em;
    font-size: 13px;
    line-height: 15px;
    color: #8E8E93;
}

.list-terms__item-modal {
    position: fixed;
    display: flex;
    align-items: center;
    align-content: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.list-terms__item-modal-content {
    background-color: #fff;
    margin: 5% 16px;
    border-radius: 4px;
    width: 100%;
}

.list-terms__item-modal-top {
    padding: 18px 17px 12px;
    border-bottom: 1px solid #D8D8D8;
}

.list-terms__item-modal-title {
    display: block;
    text-align: left;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
    position: relative;
    padding-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #979797;
    font-size: 27px;
    z-index: 10;
    cursor: pointer;
}

.list-terms__item-modal-middle {
    padding: 17px 15px;
}

.list-terms__item-modal-middle p {
    margin-bottom: 5px;
}



#loadImg{
    display: none;
    z-index: 100;
}
